.app {
  --background: 0 0% 100%; /* #ffffff */
  --foreground: 0 0% 20%; /* #333333 */
  --primary: 206 100% 53%; /* #0D97FF */
  --primary-foreground: 0 0% 100%; /* #ffffff */
  --secondary: 0 0% 91%; /* #E7E7E7 */
  --secondary-foreground: 0 0% 47%; /* #797979 */
  --muted: 0 0% 97%; /* #f7f7f7 */
  --muted-foreground: 0 0% 60%; /* #999999 */
  --accent: 31 100% 50%; /* #ff8400 */
  --accent-foreground: 0 0% 97%; /* #f7f7f7 */
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 97%; /* #f7f7f7 */
  --border: 0 0% 91%; /* #E7E7E7 */
  --input: 0 0% 60%; /* #999999 */
  --title: 240 4% 10%; /* #18181A */
  --subtitle: 223 100% 94%; /* #E2EAFF */
  --radius: 0.5rem;

  /* 覆盖tn样式 */
  --tn-color-primary: hsl(var(--primary));
  /* 覆盖wot样式 */
  --wot-color-theme: hsl(var(--primary));
}
.dark {
  --background: 20 14.3% 4.1%;
  --foreground: 0 0% 95%;
  --primary: 259 88% 78%;
  --primary-foreground: 0 0% 95%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 15%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 12 6.5% 15.1%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 85.7% 97.3%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --title: 142.4 71.8% 29.2%;
  --subtitle: 223 100% 94%;
}
